*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background-image:url('https://res.cloudinary.com/ddff5thvj/image/upload/v1779987780/bbyh3a5rllxtnuhn3ljv.jpg');
    background-size:cover;
    background-position:center;
    min-height:100vh;
    padding:30px;
    color:white;
    position:relative;
}

body::before{
    content:'';
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.75);
    z-index:-1;
}

/* HEADER */

center h2{
    color:#ff7200;
    font-size:40px;
    margin-bottom:10px;
}

center p{
    color:#ddd;
    margin:5px 0;
}

hr{
    border:none;
    height:1px;
    background:rgba(255,255,255,0.1);
    margin:20px 0;
}

/* FORM PANEL */

form{
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(10px);
    border-radius:20px;
    padding:30px;
    border:1px solid rgba(255,255,255,0.1);
}

/* SECTION TITLES */

h3{
    color:#ff7200;
    margin-bottom:15px;
}

/* INPUTS */

input,
select{
    width:100%;
    padding:12px;
    margin-top:8px;
    margin-bottom:15px;
    border:none;
    border-bottom:2px solid #ff7200;
    background:transparent;
    color:white;
    outline:none;
    font-size:14px;
}

input::placeholder{
    color:#bdbdbd;
}

option{
    color:black;
}

/* TABLE */

table{
    width:100%;
    border-collapse:collapse;
    margin-top:15px;
}

th{
    background:rgba(255,114,0,0.15);
    color:#ff7200;
    padding:15px;
}

td{
    padding:12px;
    border-bottom:1px solid rgba(255,255,255,0.08);
}

tr:hover{
    background:rgba(255,255,255,0.03);
}

/* TABLE INPUTS */

td input{
    margin:0;
    border:none;
    width:100%;
}

/* BUTTONS */

button{
    background:#ff7200;
    color:white;
    border:none;
    padding:12px 22px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
    font-weight:bold;
}

button:hover{
    transform:translateY(-2px);

    box-shadow:
    0 0 10px #ff7200,
    0 0 20px #ff7200,
    0 0 35px #ff7200;
}

/* TOTAL SECTION */

#priceBox,
#totalAmount{
    font-size:18px;
    font-weight:bold;
    color:#ff7200;
}

/* PRINT BUTTON */

#printInvoiceBtn{
    width:220px;
    height:50px;
    font-size:16px;
}

/* MOBILE */

@media(max-width:768px){

    body{
        padding:15px;
    }

    table{
        font-size:12px;
    }

    th,
    td{
        padding:8px;
    }

    center h2{
        font-size:28px;
    }
}